<!-- techtree/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ResearchSub</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static "/js/graphRender.js" %}"></script>
        <link rel="stylesheet" href="{% static "/js/graphRender.css" %}"/>
        <!--<link rel="stylesheet" href="{% static "/js/tooltip.css" %}"/>-->
    </head>
    <body>
        <div id="infodiv">
            <center><h2>ResearchSub</h2></center>
            <center><input type="text" placeholder="Search..." id="searchbar"></center>
            <br />
            <center><span>Category: </span><span id="categorylabel">Science</span></center>
            <center><button>Subscribe</button></center>

            <h4>Newest Papers:</h4>
            <div id="papersdiv">
            </div>
        </div>
        <div id="graphdiv">
        </div>
    </body>

</html>
