container_commands:
    01_collectstatic:
        command: "python manage.py collectstatic --noinput"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "researchsub_web.settings"
        "ALLOWED_HOSTS": ".elasticbeanstalk.com"
    aws:elasticbeanstalk:container:python:
        WSGIPath: researchsub_web/wsgi.py

